

<div class="wrapper-black">
  <div class="container">
    <section class="search">
      <div class="search-container">
        <h2 class="h2-search-bar"><strong>Trouve le métier de tes rêves ! 🌴 </strong></h2>
        <form class="research-bar"action="/jobs" method="get" novalidate="novalidate">
          <input type="text" id="keyword" name="query" placeholder=" Recherche ici ">
          <select class="select2-skill " name="skill" multiple>
            <% Skill.all.each do |skill| %>
              <option value=<%=skill.name%>>
                <%= skill.name %>
              </option>
            <% end %>
          </select>
          <select class="select2-field" name="skill" multiple >
            <option>IT</option>
            <option>Architecture</option>
            <option>Business</option>
            <option>Droit</option>
            <option>Médical</option>
            <option>Bâtiment</option>
          </select>
          <%= submit_tag :"Découvrir", id: "papa"%>
        </form>
      </div>
    </section>
  </div>

</div>

  <div class="cards-container pt-1">
    <div class="card-prod ">
      <% @jobs.each do |job| %>
        <div class="card-product" data-aos="flip-left">
          <img src=<%= job.job_photo %> />
          <div class="card-product-infos">
            <h2><strong>  <%= job.title %> (<%= job.field %>)</strong></h2>
            <h5><%= job.short_description %></h5>
              <% job_skills_user = job.skills.select{|skill| @user.skills.include? skill} %>
              <% skill_ratio = (job_skills_user.count.to_f / job.skills.count.to_f * 100).round %>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: <%= skill_ratio %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= skill_ratio %>%</div>
            </div>
          </div>

          <% if job.bookmarked %>
            <%= link_to job_bookmark_job_path(job), method: :post, remote: true do  %>
              <i class="fas fa-bookmark stars" id="star<%= job.id %>"></i>
            <% end %>
          <% else %>
            <%= link_to job_bookmark_job_path(job), method: :post, remote: true  do %>
              <i class="far fa-bookmark stars" id="star<%= job.id %>"></i>
            <% end %>
          <% end %>
          <%= link_to "", job_path(job), class: "transparent-link" %>
        </div>
      <% end  %>
    </div>
  </div>

