<section class="search">
  <div class="search-container">
    <h2>Hello Jacques-Martin 👋 </h2>
    <form action="/jobs" method="get" novalidate="novalidate">
      <input type="text" id="keyword" name="query" placeholder=" Recherchez ici ✍️ ">
      <select class="select2-skill" name="skill" multiple>
        <% Skill.all.each do |skill| %>
          <option value=<%=skill.name%>>
            <%= skill.name %>
          </option>
        <% end %>
      </select>
      <select class="select2-field" name="skill" multiple >
        <option>IT</option>
        <option>Architecture</option>
        <option>Business</option>
        <option>Droit</option>
        <option>Médical</option>
        <option>Bâtiment</option>
      </select>
      <%= submit_tag :"Ton métier idéal 🏝️", id: "papa"%>
    </form>
  </div>
</section>

  <div class="cards-container">
    <div class="card-prod ">
      <% @jobs.each do |job| %>
        <div class="card-product" data-aos="flip-left">
          <img src=<%= job.job_photo %> />
            <div class="card-product-infos">
              <h2><%= job.title %> (<%= job.field %>)</h2>
              <h5 class="mb-3"><%= job.short_description %></h5>
              <div class="d-flex flex-column">
                <% if job.skills == [] %>
                  <p class="d-flex mb-1">Aucune compétence requise</p>
                <% else %>
                    <div class="d-flex flex-wrap mt-1">
                      <% skills = [] %>
                         <% job.skills.each do |skill| %>
                           <% if @user.skills.include? skill %>
                              <% skills << skill.name %>
                           <% end  %>
                         <% end %>
                         <%  if skills.count == 0 %>
                            <p> Vous avez encore tout à apprendre ! </p>
                            <% job.skills.each do |skill| %>
                              <% if @user.skills.include? skill %>
                                <div class="text-success">
                                  <h5> ✅ <%= skill.name.capitalize%> &nbsp;</h5>
                                  </div>
                              <% end  %>
                            <% if @user.skills.exclude? skill %>
                                <div class="text-warning">
                                  <h5> ❌ <%= skill.name.capitalize%> &nbsp;</h5>
                                </div>
                             <% end %>
                             <% end %>
                         <% else  %>
                           Vous avez déja <%= (skills.count.to_f / job.skills.count.to_f * 100).round %> % des compétences pour atteindre le job de vos rêves !
                            <% job.skills.each do |skill| %>
                              <% if @user.skills.include? skill %>
                                <div class="text-success">
                                  <h5> ✅ <%= skill.name.capitalize%> &nbsp;</h5>
                                  </div>
                              <% end  %>
                            <% if @user.skills.exclude? skill %>
                                <div class="text-warning">
                                  <h5> ❌ <%= skill.name.capitalize%> &nbsp;</h5>
                                </div>
                             <% end %>
                            <% end %>
                        <% end %>
                    </div>
                <% end %>
              </div>
            </div>
          <div>
            <% if job.bookmarked %>
              <%= link_to job_bookmark_job_path(job), method: :post, remote: true do  %>
                <i class="fas fa-star stars" id="star<%= job.id %>"></i>
              <% end %>
            <% else %>
              <%= link_to job_bookmark_job_path(job), method: :post, remote: true  do %>
                <i class="far fa-star stars" id="star<%= job.id %>"></i>
              <% end %>
            <% end %>
          </div>
             <%= link_to "", job_path(job), class: "transparent-link" %>
        </div>
      <% end  %>
    </div>
  </div>
</div>

