<div class="main-container">
  <h1 class= "text-center"> <%= @job.title %></h1>
    <p> <%= @job.long_description %></p>

<h3> Ce métier demande certaines compétences comme ... </h3>
    <% @job.skills.each do |skill| %>
     <p> <%= skill.name %> </p>
    <% end %>
<h3> Les formations : </h3>
<% @job.formations.each do |formation| %>
     <p> <%= formation.location %> </p>
    <% end %>

<h3> Mentors: </h3>
<% @job.users.each do |user| %>
     <p> <%= user.first_name %> </p>
    <% end %>
</div>

