<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @job.job_photo %>);">
</div>
<div class="main-container">
  <div class="container d-flex border p-3">
    <div class="container mb-5 mr-5 border">
      <h2 class = "mb-5"> <%= @job.title %></h2>
        <p><%= @job.long_description %></p>
    </div>
    <div class="container d-flex flex-column mb-5 ml-5 border">
      <div class="mb-5 container d-flex align-items-center border">
        <div>
          <h2>Compétences requises</h2>
          <% @job.skills.each do |skill| %>
            <div class="border m-3"><img id="card-product-logo" src=<%= skill.logo %>></div>
          <% end %>...
        </div>
      </div>
      <div class="mt-5 container d-flex flex-column border">
        <h2 class = "mb-5">Formations menant à ce métier</h2>
        <div class="container d-flex border">
          <% @job.formations.each do |formation|%>
            <div class="border m-3"><img id="card-product-logo" src=<%= formation.logo %>></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <h2>Rencontrez des mentors</h2>
    <p>Disponible très prochainement, nos meilleurs développeurs travaillent dessus...</p>
  </div>
</div>










