<!-- This is the dashboard page -->
<div class="main-container">
  <ul class="list-inline tabs-underlined">
    <li>
      <a class="tab-underlined active" data-target="profile">Profil</a>
    </li>
    <li>
        <a class="tab-underlined" data-target="fav-jobs">Métiers favoris </a>
          <span class="badge badge-light">
            <%= @jobs.count %>
        </span>
    </li>
    <li>
        <a class="tab-underlined" data-target="fav-formations">Formations favorites</a>
        <span class="badge badge-light1" id="formationss"><%= @formations.count %></span>
    </li>
  </ul>

  <div class="tab-content d-flex flex-column" id="profile">
    <h3 class=""><%= current_user.first_name %> <%= current_user.last_name %></h3>
    <p class=""><%= @user.age %> ans</p>
    <p class="">Compétences :</p>
    <div class="d-flex">
      <div class="d-flex flex-wrap">
        <% @user.skills.each do |skill| %>
          <div class="d-flex justify-content-around">
            <button id="green-btn" class="btn btn-outline-success mr-2 mt-2 mb-2" data-toggle="modal" data-target="#skill-modal-<%= skill.id %>">
              <%= skill.name %>
            </button>
          </div>
        <% end %>
      </div>
    </div>
    <div class="container">
      <div class="d-flex justify-content-center" data-aos="zoom-in">
        <%= link_to "Modifier le profil", edit_user_path(@user), class: "btn-prk text-decoration-none" %>
        <%= link_to "Métiers", jobs_path, class: "btn-prk text-decoration-none" %>
      </div>
    </div>
  </div>

  <div id="fav-jobs" class="d-none tab-content">
    <% if @jobs == [] %>
      <p> Vous n'avez pas de métiers en favoris </p>
    <% else %>
      <% @jobs.each do |job| %>
        <div class="card-product">
          <img src=<%= job.job_photo %> />
            <div class="card-product-infos">
              <h2><%= job.title %> (<%= job.field %>)</h2>
              <p><%= job.short_description %></p>
              <div class="d-flex align-items-center">
                <p><strong>Compétences demandées:</strong></p>
                <% if job.skills == [] %>
                  <p class="ml-3">Aucune compétence requise</p>
                <% else %>
                  <% job.skills.each do |job_skill| %>
                    <h5 class="ml-3 skill-name" data-toggle="modal" data-target=<%="#exampleModal-#{job_skill.id}"%>>
                      <%= job_skill.name %>
                    </h5>
                    <div class="modal fade skill-modal" id=<%="exampleModal-#{job_skill.id}"%> tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <h2 class="modal-title text-center mt-5" id="exampleModalLabel"><%= job_skill.name %></h2>
                          <h5 class="m-5"><%= job_skill.description %></h5>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
            <%= link_to "", job_path(job), class: "transparent-link" %>
        </div>
        <p><%= link_to 'Enlever des favoris', job_remove_job_from_fav_path(job), method: :post, data: { confirm: 'Are you sure?' } %></p>
      <% end %>
    <% end %>
    <div class="d-flex justify-content-center" data-aos="zoom-in">
      <%= link_to "Métiers", jobs_path, class: "btn-prk text-decoration-none" %>
    </div>
  </div>


  <div id="fav-formations" class="d-none tab-content d-none">
    <div class="d-flex flex-wrap">
      <% @formations.each do |formation|%>
        <div class="m-5" data-toggle="modal" data-target="#school-modal-<%= formation.id %>">
          <img id="formation-logo" class= "rounded-logo" src=<%= formation.logo %>>
        </div>
        <div class="modal fade" id="school-modal-<%= formation.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div id="header-modal-formation">
                  <img id="modal-logo-formation" class= "rounded-logo" src= <%= formation.logo %>>
                  <h3 class="modal-title" id="exampleModalLongTitle" class="text-center"><%= formation.title%></h3>
                </div>
              </div>
              <div class="modal-body">
                <p><%= formation.description %></p>
                <p><strong> Lieux : </strong><%= formation.location%></p>
                <p><strong> Durée : </strong><%= formation.duration%></p>
                <p> Pour en savoir plus sur cette formation : <a href=" <%=formation.website_url%>" class="tooltip-test" title="LinkSchool" target="_blank"> Le lien </a></p>
                <p class="text-center mt-5"><%= link_to 'Enlever des favoris', '#' %></p>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    </div>
    <div class="d-flex justify-content-center" data-aos="zoom-in">
      <%= link_to "Métiers", jobs_path, class: "btn-prk text-decoration-none" %>
    </div>
  </div>

</div>
</div>

