<!-- This is the dashboard page -->

<div class="main-container">
  <h1 class="text-center">Tableau de bord de <%= current_user.first_name %> <%= current_user.last_name %></h1>
  <ul class="list-inline tabs-underlined">
    <li>
        <a class="tab-underlined active" data-target ="profile">Profil</a>
    </li>
    <li>
        <a class="tab-underlined active" data-target ="fav-jobs">Métiers favoris </a>
          <span class="badge badge-light">
            <%= @jobs.count %>
        </span>
    </li>
    <li>
        <a class="tab-underlined" data-target = "fav-formations">Formations favorites</a>
        <span class="badge badge-light1" id="formationss"><%= @formations.count %></span>
    </li>
  </ul>

    <div class="tab-content container text-center" id="profile">
      <p class="mb-3">Profil de <%= @user.first_name %> <%= @user.last_name %></p>
      <div class="mt-3">
        <%= cl_image_tag current_user.profile_picture, id: "profile_image", alt: "" %>
      </div>
      <p class="mt-3">Compétences acquises :</p>
      <%  @user.skills.each do |skill|  %>
      <p class="mt-3"> <%= skill.name %></p>
      <% end  %>
      <p class="mt-3">Age: <%= @user.age %> ans</p>
      <p class="mt-3"><%= @user.email %></p>
    </div>
  </div>

  <div class="d-none tab-content container mt-5" id="fav-jobs">
    <% if @jobs == [] %>
      <p> Vous n'avez pas de métiers en favoris </p>
    <% else %>
      <% @jobs.each do |job| %>
        <div class="card-product">
          <img src=<%= job.job_photo %> />
            <div class="card-product-infos">
              <h2><%= job.title %> (<%= job.field %>)</h2>
              <p><%= job.short_description %></p>
              <div class="d-flex align-items-center">
                <p><strong>Skills required:</strong></p>
                <% if job.skills == [] %>
                  <p class="ml-3">Aucune compétence requise</p>
                <% else %>
                  <% job.skills.each do |job_skill| %>
                    <p class="ml-3 skill-name" data-toggle="modal" data-target=<%="#exampleModal-#{job_skill.id}"%>>
                      <%= job_skill.name %>
                    </p>
                    <div class="modal fade skill-modal" id=<%="exampleModal-#{job_skill.id}"%> tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <h2 class="modal-title text-center mt-5" id="exampleModalLabel"><%= job_skill.name %></h2>
                          <p class="m-5"><%= job_skill.description %></p>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
            <%= link_to "", job_path(job), class: "transparent-link" %>
        </div>
        <p><%= link_to 'Enlever des favoris', job_remove_from_fav_path(job), method: :post, data: { confirm: 'Are you sure?' } %></p>
      <% end %>
    <% end %>
  </div>

  <div id="fav-formations" class="d-none tab-content container mt-5 d-none">
    <% @formations.each do |formation| %>
      <div class="card-product">
        <img id="card-formation-img"  src=<%= formation.logo %> />
        <div class="card-product-infos">
          <h2><%= formation.title %> (<%= formation.field %>)</h2>
          <p><%= formation.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>


